/*
	HTML5 Reset :: style.css

/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%; }

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
  padding: 0; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

html {
  background: rgba(223, 228, 238, 0.5);
  color: #525252; }

h1, h2 {
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 0.46px;
  padding-bottom: 20px; }

h1 {
  padding-top: 16px; }

h2 {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.39px; }

p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 26px; }

header {
  font-size: 14px;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(99, 99, 99, 0.5); }

.logo {
  font-family: Open Sans semi-bold;
  line-height: 19px;
  text-align: left;
  color: #525252;
  text-transform: uppercase;
  padding: 15px; }

/***menu****/
nav {
  display: flex;
  flex-direction: column;
  height: 30px;
  padding: 10px;
  float: left;
  webkit-transition: left 1s easy-out 0.5s; }

.icon-menu {
  height: 30px;
  width: 20px;
  padding: 5px 0;
  cursor: pointer; }

.divide {
  display: block;
  height: 3px;
  margin: 3px 0;
  background: #000; }

.navigation {
  display: none; }

.navigation a {
  font-family: 'Open Sans', sans-serif;
  color: #525252;
  text-decoration: none;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0px 1px 5px #292929; }

.show {
  display: flex;
  flex-flow: column;
  padding-top: 10px;
  position: absolute;
  left: 0;
  width: 100%; }

/***end of menu****/
/*section{
	width: 100%;
}*/
#top {
  width: 100%;
  padding-top: 50px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center; }

#top img {
  padding-top: 27px;
  width: 100%; }

.titles {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 28.6px; }

button {
  background: #0C2A68;
  border: none;
  border-radius: 4px;
  width: 166px;
  height: 40px;
  color: #fff;
  font-size: 15px; }

button:hover {
  transform: scale(0.9); }

/****main_content*/
#main_content {
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-bottom: 35px; }

/*.secondary_block h2{
	padding-top: 60px;
}*/
#cont_img {
  margin-top: 30px;
  width: 232px;
  height: 220px; }

.blocks {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 44px; }

.main_block {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
  width: 280px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px 0px rgba(196, 196, 196, 0.5);
  margin-top: 25px; }

.main_block img {
  padding: 17px 0px 0px 0; }

.main_block h2 {
  font-size: 20px;
  padding: 0;
  text-transform: none; }

.main_block p {
  padding: 0 25px 30px 16px;
  line-height: 22px; }

#pre_sec_block {
  margin-bottom: 45px; }

.secondary_block {
  display: flex;
  flex-flow: column; }

.img_part img {
  width: 100%; }

.titles_part {
  display: flex;
  flex-flow: column wrap;
  padding-left: 17px;
  margin: 40px 0 55px 0; }

.titles_part h1 {
  padding-top: 0; }

.titles_part p {
  text-align: left; }

/****end of main content*/
/****footer*/
footer {
  display: flex;
  flex-flow: column;
  align-items: center; }

footer h1 {
  padding-top: 80px; }

footer p {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 26px;
  padding: 0 20px; }

footer input {
  box-shadow: 0px 4px 8px 0px rgba(196, 196, 196, 0.5);
  border: none;
  border-radius: 4px;
  width: 300px;
  height: 40px;
  padding-left: 20px;
  margin: 37px 0 50px 0; }

footer button {
  margin-bottom: 150px; }

input::-webkit-input-placeholder {
  color: #D5D5D5; }

input:focus {
  outline-color: rgba(12, 42, 104, 0.8);
  outline-style: auto;
  outline-width: 2px; }

/****end of footer*/
@media screen and (min-width: 768px) {
  /*header*/
  p {
    font-size: 20px;
    line-height: 34px; }
  h1 {
    padding-top: 40px; }
  nav {
    padding: 0; }
  .logo {
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    line-height: 27px;
    padding: 11px 30px; }
  .icon-menu {
    display: none; }
  .navigation {
    display: flex;
    flex-flow: row nowrap; }
  .navigation a {
    color: #525252;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 50px;
    background: none;
    box-shadow: none;
    font-size: 16px;
    padding-right: 90px; }
  .navigation li:nth-child(3) {
    margin-right: -60px; }
  #top {
    width: 95%; }
  .titles {
    padding: 0 50px 55px 50px; }
  .titles h1 {
    font-size: 48px;
    letter-spacing: 0.93px;
    line-height: 64px; }
  .titles p {
    font-size: 20px;
    line-height: 34px; }
  #main_content {
    width: 95%;
    margin: 0 auto; }
  #main_content h1 {
    font-size: 40px;
    line-height: 53px;
    letter-spacing: 0.77px; }
  #main_content p:nth-child(2) {
    font-size: 20px;
    line-height: 34px;
    margin: 0 24px; }
  #cont_img {
    width: 450px;
    height: 427px;
    margin-bottom: 20px; }
  .main_block {
    margin-top: 30px; }
  .main_block h2 {
    padding: 23px 0 20px 0; }
  .main_block p {
    font-size: 16px;
    line-height: 22px; }
  #pre_sec_block {
    width: 65%;
    margin-bottom: 45px; }
  .secondary_block {
    flex-flow: row;
    margin: 0 20px 80px 20px; }
  .secondary_block:nth-child(odd) {
    flex-flow: row-reverse; }
  .secondary_block:last-child {
    margin-bottom: 20px; }
  .titles_part p {
    margin: 0 !important; }
  .img_part {
    min-width: 300px;
    width: 45%; } }

@media screen and (min-width: 1439px) {
  .logo {
    padding-left: 167px; }
  .navigation a {
    padding-right: 95px; }
  .navigation li:nth-child(3) {
    margin-right: 75px; }
  .titles h1 {
    padding-top: 60px; }
  .titles p {
    padding: 0 143px; }
  #main_content {
    width: 76.6%; }
  .blocks {
    flex-flow: row;
    width: 90%;
    justify-content: space-around;
    margin-bottom: 60px; }
  #top {
    width: 76.6%; }
  #top img {
    width: 85%; }
  #main_content p:nth-child(2) {
    margin: 0 201px; }
  .titles_part {
    margin-top: 100px; }
  .secondary_block {
    margin-bottom: 80px; }
  .titles_part {
    width: 50%; } }
