$fz: 14px;
$h2fz: 20px;
$main: #525252;

@import 'reset';

html{
	background: rgba(223, 228, 238, 0.5);
	color: $main;
}
h1,h2{
	text-transform: uppercase;
	font-family: 'Playfair Display', serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
	letter-spacing: 0.46px;
	padding: 25px 0 35px 0;
}
p{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 17px;
	line-height: 26px;
}
header{
	font-size: $fz;
	display: flex;
	position: fixed;
	top: 0;
	justify-content: space-between;
	height: 50px;
	width: 100%;
	background: #fff;
	box-shadow: 0px 1px 15px #292929;
}
.logo{
	font-family: Open Sans semi-bold;
	line-height: 19px;
	text-align: left;
	color: $main;
	text-transform: uppercase;
	padding: 15px;
}
/***menu****/
nav{
	display: flex;
	flex-direction: column;
	height: 30px;
	padding: 10px;
	float: left;
	webkit-transition: left 1s easy-out 0.5s;
}
.icon-menu{
	height: 30px;
	width: 20px;
	padding: 5px 0;
	cursor: pointer;
}
.divide{
	display: block;
	height: 3px;
	margin: 3px 0;
	background: #000;
}
.navigation{
	display: none;
}
.navigation a{
	color: $main;
	text-decoration: none;
	height: 40px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: #fff;
	box-shadow: 0px 1px 15px #292929;
}
.show{
	display: flex;
	flex-flow: column;
	padding-top: 10px;
	position: absolute;
	left: 0;
	width: 100%;
}
/***end of menu****/
section{
	background: rgba(223, 228, 238, 0.5);
	width: 100%;
}
#top{
	padding-top: 50px;
}
.container{
	width: 320px;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.container img{
	padding-top: 27px;
}
.titles{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	padding-bottom: 28.6px;
}
button{
	background: #0C2A68;
	border: none;
	border-radius: 4px;
	width: 166px;
	height: 40px;
	color: #fff;
}
button:hover{
	transform: scale(0.9);
}
/****main_content*/
#main_content{
	background: #fff;
	border-radius: 8px;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	padding: 0 10px;
}
#cont_img{
	padding-top: 35px;
	width: 232px;
	height: 220px;
}
.main_block{
	display: flex;
	justify-content: space-around;
	flex-flow: column;
	align-items: center;
	width: 280px;
	height: 300px;
	border-radius: 8px;
	box-shadow: 0px 1px 10px 0px #bdbbbb;
	margin-top: 25px;
}
.main_block img{
	padding: 0px 0px 0px 0;
}
.main_block h2{
	font-size: $h2fz;
	padding: 0;
}
/****end of main content*/
/****footer*/
footer{
	display: flex;
	flex-flow: column;
	align-items: center;
}
footer h1{
	padding-top: 90px;
}
footer p {
	font-family: Open Sans;
	font-weight: Regular;
	font-size: 16px;
	line-height: 26px;
}
footer input{
	box-shadow: 0px 1px 10px 0px #bdbbbb;
	border: none;
	border-radius: 4px;
	width: 300px;
	height: 40px;
	color: #D5D5D5;
	padding-left: 20px;
	margin: 37px 0 50px 0;
}
footer button{
	margin-bottom: 150px;
}

/****end of footer*/